body{
  background-color: #ecebf3

}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  padding: 20px
}

.header{
  border: 2px solid black;
  margin: 3px;
}

.navBar{
  border: 2px solid blue;
  margin: 3px;
}

.featureComponents{
  border: 2px solid green;
  margin: 3px;
}

.footer{
  border: 2px solid orange;
  margin: 3px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}