.packing {
    background-color: #ECEBF3;
    margin: auto;
    width: 100%;
    padding: 40px;

}

.P-content{
    width: 50%;
    background-color: #4A587B;
    border-radius: 25px;
    min-height: 200px;
    padding: 30px;
    margin:auto;
}



.P-form {
    /*border: 3px solid #000;*/
    border-radius: 25px;
    background-color: #4A587B;
    padding: 25px;
    margin: auto;
}

.P-form input{
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    height: 45px;
    box-sizing: border-box;


}

.P-form-add {
    background-color: #C7FFF5;
    color: #000;
    /*font-weight: 900;*/
    border: none;
    border-radius: 25px;
    /*font-size: 30px;*/
}

ul {
  list-style-type: none;
 }
 li {
   background-color: #BCFBFF;
   margin: 5px;
   border-radius: 25px;
 }
 input[type=text] {
  border: none;
  border-radius: 25px;
  min-width: 400px;
}
.deleteAllBtn {
  float: right;
}
button{
  border: none;
}
button .P-form-add {
  height: 60px;
  width: 60px;
}
