@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    font-family: Roboto;
}



.P-content{
    width: 50%;
    background-color: #D8D3E7;
    border-radius: 25px;
    min-height: 200px;
    padding: 30px;
    margin: 20px;
    
}


.P-content h2{
    text-align: center;
    color: #4A587B;
    font-weight: 700;
    font-family: Roboto;

  
}
.P-form {
    /*border: 3px solid #000;*/
    border-radius: 25px;
    background-color: #4A587B;
    padding: 25px;
    margin: auto;
}


.inputDiv{
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    padding: 0;
}

.inputDiv input{
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    box-sizing: border-box;
    float: left;
}


.inputDiv button {
    background-color: #C7FFF5;
    color: #000;
    font-weight: 900;
    border: none;
    border-radius: 50%;
    width: 8%;
    height: 40px;
    float: right;
    font-size: 20px;
}

.listDiv ul {
  list-style-type: none;
  padding: 5px;
 }

 

 .listDiv ul li {
    background-color: #ECECEC;
    border-radius: 25px;
    margin: 15px;
    padding: 10px;
    font-family: Roboto;
   
 }

 .listDiv ul li button{
    background-color: #ECECEC;
     border: 0px;
     font-size: 16px;
     color: #8DD0DF;
     font-weight: 1000;
     float: inline-end;
     padding: 0;
     padding-right: 10px;
 }

 .listDiv ul li input[type="checkbox"]{
     border: 100px #000 solid;
     float: left;
     
 }


 .listDiv ul li p{
     display: inline;
 }

 .hide{
    visibility: hidden;
    display: none;
 }
 
 .inputDiv input[type=text] {
  border: none;
  border-radius: 25px;
  min-width: 400px;
  float: left;
}

.deleteAllDiv{
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;

}

.deleteAllBtn button{
  float: right;
}


.deleteAllDiv button{
  border: none;
  background-color: #D8D3E7;
  font-family: Roboto; 
  font-size: 14px;
  color: #4A587B;
  font-weight: 800;
  float: right;
}




button .P-form-add {
  height: 60px;
  width: 60px;
}




.close-packing{
    float: right; 
    border: none;
    background-color: rgb(0, 0, 0, 0);
    color: #8C90B3;
    font-size: 32px;
    font-weight: 800;
    padding: 0;
  
    
    
}
.popup-confirm {
    background: #4A587B;
    font-size: 14px;
    border-radius: 10px;
    padding: 10px;
  }


.popup-confirm > .popup-text {
    width: 100%;
    padding: 15px 5px;
    background: #4A587B;
    color: #fff;
    border-radius: 10px;
    border: 0px solid #4A587B;
    letter-spacing: 1px;
    font-weight: 700;
    display: inline-block;

}

.popup-content{
    background-color: #4B5267;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;

}

.deleteAllAction {

    padding: 9px;
    letter-spacing: 1px;
    border: 0px;
    float: inline-end;
    margin: 10px;
    background-color: #C7DDEA;
    border: none;
    border-radius: 30px;
    color: #4B5267;
    font-weight: 800;
    height: 40px;
    width: 80px;

}



.cancel-button{


        padding: 9px;
        letter-spacing: 1px;
        border: 0px;
        float: inline-end;
        margin: 10px;
        border: none;
        border-radius: 30px;
        font-weight: 800;
        height: 40px;
        width: 80px;
    
        background-color: #AFAFAF;
        border: none;
        border-radius: 30px;
        color: #4B5267;
      
    }



  .input-edit{
      border: none;
      background-color: #ECECEC;

  }


  input:focus{
      border: 3px solid #4A587B;
      border-radius: 3px;;
  }