/* html{
    height: 100%;
}
body{
    height: 100%;
}
#root{
    height: 100%;
} */
#container{
    /* background-color: #f0f0f0; */
    height: 100%;
    width: 1400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#container .list-container{
    height: 64vh;
    /* width: 100%; */
    overflow-y: scroll;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

/* #container .button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
} */
#container .left-box{
    width: 33%;
    height: 85%;
    /* background-color: white; */
    border-radius: 40px;
    opacity: 0.8;
    padding: 40px;
}

#container .right-box{
    width: 34%;
    height: 80%;
}

#container .horizontal-center{
    display: flex;
    justify-content: center;
}

.medium-content{
    width: 33%;
    height:85%;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #000;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

