@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    font-family: Roboto;
}

.itinerary-container {
    background-color: #D8D3E7;
    border-radius: 30px;
}

.itinerary-items-container {
    background-color: #D8D3E7;
    border-radius: 50px;
}

#add-button {
    background-color: #4B5267;
    border-radius: 50px;
    border: none;
    font-weight: 700;
    float: right;
    font-size: 20px;
}

.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #ECECEC;
}

.table-striped>tbody>tr:nth-child(even) {
    background-color: #EDEDED;
}

#itinerary-table thead tr {
    margin-bottom: 10px;
}

#itinerary-table tbody tr {
    height: 60px;
}

#itinerary-table tbody th {
    font-weight: 400;
}

/* all th from first row of itinerary table */
#itinerary-table thead th {
    font-weight: 900;
    font-size: 18px;
}

tbody tr:last-child{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.table-striped>tbody>tr:nth-child(odd):first-child>th:first-child {
    border-top-left-radius: 20px;
}

.table-striped>tbody>tr:nth-child(odd):first-child>th:last-child {
    border-top-right-radius: 20px;
}

thead {
    color: #2E294E;
}

.edit-icon {
    height: 28px;
    margin-top: 8px;
    margin-left: 25px;
}

/* Add padding for itinerary number column*/
tbody tr th:first-child, thead tr th:first-child {
    padding-left: 20px;
}

#itinerary-map {
    width: 800px;
    height: 450px;
    display: block;
}

#map-section {
    padding-top: 120px;
    padding-bottom: 100px;
}

#map-section h2 {
    color: #2E294E;
    font-weight: 900;
    font-size: 42px;
}