.outer-color{
    width: 32px;
    height: 32px;
    margin-top: 10px;
    display: inline-block;
}
.color-picker {
    width: 32px;
    height: 56px;
    padding: 10px 0;
    display: inline-block;
}